.container {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

.text-title {
  margin-left: 5rem;
  margin-right: 5rem;
}

.text-name {
  margin-top: 3rem;
}

.text-name > h1 {
  font-size: 3rem;
}

.text-name > b {
  font-size: 5rem;
}

.text-name > p {
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-top: -2.4rem;
}

.text-welcome > b {
  font-size: 3.5rem;
  
}

.text-welcome > p {
  font-size: 1.5rem;
  letter-spacing: 7.5px;
  margin-top: -1.5rem;

}

.introduction{
    margin-top: 2rem;
    width: 25rem;
}

.img-title{

width: 50rem;
height: 35rem;
display: flex;
justify-content: center;
align-items: center;
border-bottom-left-radius: 200px;

}


